<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
  All rights reserved.
  Confidential and Proprietary - Qualcomm Technologies, Inc.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.uimremoteclient" >

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>

    <permission
        android:name="com.qualcomm.permission.UIM_REMOTE_CLIENT" />

    <overlay
        android:targetPackage="com.qualcomm.uimremoteclient"
        android:requiredSystemPropertyName="ro.boot.vendor.qspa.modem"
        android:requiredSystemPropertyValue="enabled"/>

    <application>
        <service
            android:name=".UimRemoteClientService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.qualcomm.permission.UIM_REMOTE_CLIENT" >
        </service>
        <uses-library android:name="com.qualcomm.uimremoteclientlibrary"/>
        <uses-library android:name="qti-telephony-hidl-wrapper-prd"
/>
    </application>
</manifest>
