<?xml version="1.0" encoding="utf-8"?>
<!--
/******************************************************************************
 *
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 * All rights reserved.
 * Confidential and Proprietary - Qualcomm Technologies, Inc.
 *
 ******************************************************************************/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qtil.aptxacu"
    android:versionCode="1"
    android:versionName="16.0.1">

    <uses-sdk android:minSdkVersion="35"
            android:targetSdkVersion="35"
            android:maxSdkVersion="35" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="com.qualcomm.qtil.aptxals.PERMISSION"/>

    <permission
        android:name="com.qualcomm.qtil.aptxacu.PERMISSION"
        android:label="aptxacu_permission"
        android:protectionLevel="signature">
    </permission>

    <application
        android:name=".aptxacuApplication"
        android:allowBackup="false"
        android:theme="@style/DayNightAppTheme"
        android:label="@string/app_name"
        android:persistent="false"
        android:directBootAware="true">
        <service
            android:name=".aptxacuService"
            android:permission="com.qualcomm.qtil.aptxacu.PERMISSION"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="com.qualcomm.qtil.aptxacu.aptxacuService"/>
            </intent-filter>
        </service>
        <activity
            android:name=".aptxacuSettingsActivity"
            android:label="@string/acu_label"
            android:excludeFromRecents="false"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aptxacuProfilePreferenceListActivity"
            android:label="@string/ppl_label"
            android:excludeFromRecents="false"
            android:enabled="true"
            android:exported="false">
        </activity>
        <activity
            android:name=".aptxacuTestActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:enabled="true"
            android:exported="false">
        </activity>
    </application>
</manifest>
