<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright (c) 2022 Qualcomm Technologies, Inc.
    All Rights Reserved.
    Confidential and Proprietary - Qualcomm Technologies, Inc.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.dctestapp"
    android:sharedUserId="android.uid.phone">

    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Receive calls -->
    <uses-permission android:name="com.qti.permission.RECEIVE_PRE_ALERTING_CALL_INFO"/>
    <uses-permission android:name="com.qti.permission.RECEIVE_DC_INFO"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BroadcastReceiver that listens for MT/MO calls -->
        <!-- <receiver android:name=".CallReceiver">
            <intent-filter>
                <action android:name="org.codeaurora.intent.action.PRE_ALERTING_CALL_INFO" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.codeaurora.intent.action.DATA_CHANNEL_INFO" />
            </intent-filter>
        </receiver> -->

        <provider
            xmlns:tools="http://schemas.android.com/tools"
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.google.chromecast.settings.androidx-startup"
            tools:replace="android:authorities" />

        <uses-library android:name="datachannellib" />
    </application>

</manifest>
